{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <h1 class="text-center">Вхід</h1>
                <h4 class="text-center">до курсу <br />"{{ course.title }}"</h4>
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('security_login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Email:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <button type="submit" class="btn btn-primary">Увійти</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
