{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Курси</h1>
        {% if app.user %}
            {{ block('available_courses') }}
        {% else %}
            {{ block('all_courses') }}
        {% endif %}
    </div>

{% endblock %}

{% block all_courses %}
    {% for course in courses %}
        <div class="row justify-content-md-center">
            <div class="col-sm-6 text-right">
                <p>
                    {{ course.title }}
                </p>
            </div>
            <div class="col-sm-6">
                <a href="{{ path('course_request', {'course': course.id}) }}" class="btn btn-primary btn-sm">Отримати пароль</a>
                <a href="{{ path('course_view', {'course': course.id}) }}" class="btn btn-dark btn-sm">Пройти курс</a>
            </div>
        </div>
    {% endfor %}
{% endblock all_courses %}

{% block available_courses %}
    {% set course = app.user.course %}
    <div class="row justify-content-md-center">
        <div class="col-sm-6 text-right">
            <p>
                {{ course.title }}
            </p>
        </div>
        <div class="col-sm-6">
            <a href="{{ path('course_view', {'course': course.id}) }}" class="btn btn-dark btn-sm">Пройти курс</a>
            <a href="{{ path('security_logout') }}" class="btn btn-primary btn-sm">Вийти</a>
        </div>
    </div>
{% endblock available_courses %}
