{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6 text-center">
                <h3>Пароль згенеровано та надіслано на <br />{{ user.email }}.</h3>
                <a href="{{ path('course_view', {'course': user.course.id}) }}" class="btn btn-primary">Ввести пароль</a>
            </div>
        </div>
    </div>
{% endblock %}
