{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                <form method="post">
                    <div class="form-group">
                        {{ form_label(form.email, 'Ваш email') }}

                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                {% if error == 1 %}
                                    Для цієї електронної адреси пароль вже згенеровано та надіслано. Пароль дійсний протягом 24 годин.
                                {% endif %}
                            </div>
                        {% endfor %}
                        {{ form_widget(form.email) }}
                        <small id="emailHelp" class="form-text">Приймається лише адреса з доменної зони @chumak.com.</small>
                    </div>
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'Надіслати пароль'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
