body {
    background-image: url("/images/main_header_bg.jpg");
    background-color: #4a75d1;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-size: 1280px auto;
    padding-top: 260px;
    color: white;
}
